.box {
  position: relative;
  text-align: center;
  max-width: 500px;

  margin: 0 auto;
  padding: 2.5em 0 1em;
  flex: 1 1 460px;
}

.use-compact .box {
  padding-top: 0.5em;
  padding-bottom: 0;
}

.box--flag {
  text-align: left;
}

.box__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.box__wrapper .box {
  margin: 0 1em;
}

.box__title {
  position: absolute;
  top: 1em;
  left: 50%;
  background: var(--color-accent);
  color: var(--color-accent-contrast);
  transform: translateX(-50%);
  font-size: 1.4em;
  z-index: 1;
  padding: 0 0.3em;
  text-transform: uppercase;
  max-width: 80%;
}

.use-compact .box__title {
  top: 0.25em;
  position: static;
  font-size: 1em;
  transform: none;
  max-width: 100%;
  box-shadow: 0 0 15px #0003;
}

.box__title-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box__highlight {
  position: absolute;
  margin-left: -12px;
  left: 100%;
  bottom: 50%;
  width: 2em;
  height: 2em;
}

.use-compact .box__highlight {
  width: 1.75em;
  height: 1.75em;
  bottom: 100%;
  left: 100%;
  transform: translateY(110%);
}

.box__content {
  transform: perspective(200px) rotateX(5deg);
  transform-style: preserve-3d;
  background-color: var(--color-bg-card);
  box-shadow: 0 0 15px #0003;
  padding: 0.8em;
  font-size: 1.1em;
}

.use-compact .box__content {
  transform: none;
  padding: 0.2em 0.5em;
}

.box--flat .box__content {
  transform: none;
}

.box.is-log .box__content {
  max-height: 40vh;
  overflow: auto;
}
