.counter {
  font-size: 20px;
  display: grid;
  grid-template-columns: 1fr 2em 2em 35% 2em 2em 1fr;
  grid-template-areas: ". prev reduce value add next .";
  grid-gap: 0.5em;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.counter:not(:last-child) {
  margin-bottom: 0.5em;
}

.counter__value {
  white-space: nowrap;
  grid-area: value;
  font-size: 1.75em;
  text-align: center;
}

.counter__value small {
  opacity: 0.5;
}

.counter__next {
  grid-area: next;
}
.counter__prev {
  grid-area: prev;
}
.counter__add {
  grid-area: add;
}
.counter__reduce {
  grid-area: reduce;
}

.counter__next,
.counter__prev,
.counter__add,
.counter__reduce {
  background-color: var(--color-cta);
  color: var(--color-cta-contrast);
  width: 1em;
  height: 1em;
  display: flex;
  flex: 0 0 1em;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  line-height: 1;
  padding-bottom: 0.2em;
}
