.fab {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 1.4em;
  display: flex;
  padding: 0.8em 1.4em;
  background-color: var(--color-cta);
  color: var(--color-cta-contrast);
  z-index: 1000;
}
