.report {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report__btn {
  background-color: var(--color-cta);
  color: var(--color-cta-contrast);
  width: 1.1em;
  height: 1.1em;
  font-size: 1.1em;
  line-height: 1;
  margin-right: 0.3em;
  text-align: center;
  display: inline-block;
}

.report__icons {
  display: flex;
}

.report__icons svg {
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.3em;
}
