.statistics__table {
  width: 100%;
  text-align: right;
  white-space: nowrap;
}

.statistics__table th,
.statistics__table td {
  padding: 3px 0;
}

.statistics__table th {
  text-align: left;
  padding-right: 10px;
  width: 50%;
}

.statistics__table tr.has-progress {
  position: relative;
  overflow: hidden;
}

.statistics__table tr.has-progress td,
.statistics__table tr.has-progress th {
  padding-bottom: 10px;
}

.statistics__table tr.has-progress .statistics__value::before,
.statistics__table tr.has-progress .statistics__value::after {
  content: "";
  background: var(--color-accent);
  position: absolute;
  height: 4px;
  width: 100%;
  left: 0;
  bottom: 5px;
  transform-origin: left;
}

.statistics__table tr.has-progress .statistics__value::before {
  opacity: 0.5;
}
.statistics__table tr.has-progress .statistics__value::after {
  transform: scaleX(var(--val));
}

.statistics__table input {
  margin-right: 10px;
}

.statistics__bar {
  width: 100%;
}

.statistics__bar::after {
  width: 100%;
  content: "";
  height: 10px;
  margin-left: 10px;
  display: block;
  background-color: var(--color-accent);
  transform-origin: left center;
  transform: scaleX(var(--val, 1));
}

.statistics__value {
  color: var(--color-accent);
}
