.value {
  font-size: 30px;
  position: relative;
  margin: 0 0.5em 0 1.5em;
}

.value--reverse {
  margin: 0 1.5em 0 0.5em;
}

.value__add {
  display: none;
}

.value__reduce {
  position: absolute;
  right: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 1em;
  width: 1em;
  background: #000;
  color: white;
  border-radius: 50%;
  font-family: monospace;
}

.value--reverse .value__reduce {
  left: 90%;
  right: auto;
}

.value__value {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background: rgb(0, 195, 255);
}

.value--villain .value__value {
  background: rgb(177, 0, 0);
  color: white;
}

.value--scheme .value__value {
  background: rgb(252, 214, 0);
}
