:root {
  --color-accent: #e01414;
  --color-bg-card: #fff;
  --color-bg: #ececec;
  --color-cta-contrast: #fff;
  --color-cta: #000;
  --color-fg: #000;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: "Exo 2", sans-serif;
  font-variant: small-caps;
  margin: 0;
  padding: 1em 1em 15em;
  text-align: center;
  user-select: none;
}

main {
  margin: auto;
}

.is-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.is-aggression {
  --color-accent: #e01414;
}

.is-tough {
  --color-accent: #e06614;
}

.is-scheme,
.is-justice {
  --color-accent: #f2ca00;
  --color-accent-contrast: #000;
}

.is-protection,
.is-stunned {
  --color-accent: #00cc4e;
}

.is-hero,
.is-leadership {
  --color-accent: #3499eb;
}

.is-confused {
  --color-accent: #9b069b;
  --color-accent-contrast: #fff;
}

.vs {
  background: var(--color-accent);
  color: white;
  font-size: 1.4em;
  margin: 0.8em;
  padding: 0 0.3em;
  text-transform: uppercase;
  white-space: nowrap;
}

button {
  align-items: center;
  background-color: var(--color-cta);
  border-radius: 100px;
  border: 0;
  box-sizing: border-box;
  color: var(--color-cta-contrast);
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-variant: small-caps;
  justify-content: center;
  margin: 0.3em;
  padding: 0.5em 1em 0.7em;
}

.result {
  background: var(--color-accent);
  bottom: 0;
  box-shadow: 0 0 15px 5px #0006;
  color: white;
  font-size: 2em;
  left: 0;
  padding: 1em 2em;
  position: fixed;
  right: 0;
  z-index: 200;
}

.result.is-winner,
.result.is-scheme-win {
  background: rgb(1, 185, 56);
}

.fraction {
  display: inline-block;
  font-size: 0.6em;
  margin: 0 0.2em;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-card: #000;
    --color-bg: #333;
    --color-cta-contrast: #000;
    --color-cta: #fff;
    --color-fg: #fff;
  }
}
